# Bỏ qua node_modules ở cả client và server
node_modules/
client/node_modules/
server/node_modules/

# Bỏ qua thư mục build ở client (nếu có)
client/build/

# Bỏ qua các file tạm thời khác
client/.env
server/.env
client/package-lock.json
server/package-lock.json
server/logs/